In [1]:
import pandas as pd
import sasoptpy as so
import numpy as np
import random
import string
import scipy.stats as ss
import os
from subprocess import Popen

In [2]:
data = pd.read_csv("data/gk_season.csv")

In [3]:
data.head()

,id,price,name,avg_mins,GW1_GA,GW2_GA,GW3_GA,GW4_GA,GW5_GA,GW6_GA,...,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts
0,143,6.0,Mendy,86.1,0.444605,0.586997,0.857016,0.510286,0.628087,0.719957,...,4.240,4.737,4.163,4.478,3.982,3.775,4.176,3.804,4.100,4.264
1,257,6.0,Ederson,80.3,0.433163,0.270038,0.348437,0.408874,0.315335,0.483767,...,1.004,4.145,4.648,3.667,4.424,4.190,3.955,4.288,4.416,4.159
2,353,5.5,Lloris,86.2,2.010915,1.467392,1.100712,1.442799,1.686347,1.639544,...,3.700,3.478,3.345,3.559,3.702,3.755,4.019,4.078,3.471,3.374
3,231,6.0,Alisson,79.4,0.752976,0.727536,0.999316,0.937576,0.735898,0.874423,...,0.677,3.344,4.223,3.726,3.983,4.155,3.766,3.903,4.042,4.126
4,270,5.1,de Gea,85.7,0.891040,0.970873,0.960145,0.835638,1.131791,0.932591,...,3.594,3.274,3.481,3.212,3.940,3.271,3.582,4.037,3.797,3.725

In [4]:
data = data[data['avg_mins'] > 59].copy()
data

,id,price,name,avg_mins,GW1_GA,GW2_GA,GW3_GA,GW4_GA,GW5_GA,GW6_GA,...,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts
0,143,6.0,Mendy,86.1,0.444605,0.586997,0.857016,0.510286,0.628087,0.719957,...,4.240,4.737,4.163,4.478,3.982,3.775,4.176,3.804,4.100,4.264
1,257,6.0,Ederson,80.3,0.433163,0.270038,0.348437,0.408874,0.315335,0.483767,...,1.004,4.145,4.648,3.667,4.424,4.190,3.955,4.288,4.416,4.159
2,353,5.5,Lloris,86.2,2.010915,1.467392,1.100712,1.442799,1.686347,1.639544,...,3.700,3.478,3.345,3.559,3.702,3.755,4.019,4.078,3.471,3.374
3,231,6.0,Alisson,79.4,0.752976,0.727536,0.999316,0.937576,0.735898,0.874423,...,0.677,3.344,4.223,3.726,3.983,4.155,3.766,3.903,4.042,4.126
4,270,5.1,de Gea,85.7,0.891040,0.970873,0.960145,0.835638,1.131791,0.932591,...,3.594,3.274,3.481,3.212,3.940,3.271,3.582,4.037,3.797,3.725
5,475,5.0,Sá,86.6,1.287953,1.174406,1.284163,0.994657,0.987818,1.154057,...,3.553,3.440,3.838,3.797,3.674,3.773,3.974,3.245,3.066,3.330
6,69,4.6,Sánchez,87.2,1.074205,0.828931,1.041477,1.111247,1.073359,1.086552,...,3.913,3.197,3.133,3.955,3.442,3.635,3.360,3.561,3.638,3.829
7,112,5.4,Pope,86.8,1.563174,2.866571,1.630771,1.924137,1.689918,1.983039,...,3.194,3.436,3.916,3.112,3.907,3.437,3.394,3.443,3.475,3.949
8,80,4.6,Raya,86.9,1.358903,1.389362,1.594608,1.256985,1.413044,1.983999,...,3.326,3.586,3.571,4.050,3.535,3.654,3.142,3.266,3.870,3.181
9,200,5.1,Schmeichel,87.5,1.247403,1.708364,1.254960,1.986089,1.497855,1.212560,...,3.357,3.605,3.542,3.301,3.284,3.930,3.473,3.312,3.804,3.503
10,334,4.5,McCarthy,87.2,1.705935,1.752985,1.575379,1.580683,2.480569,1.340959,...,3.521,3.892,3.611,3.559,3.590,3.051,3.493,3.654,3.194,3.538
11,146,4.5,Guaita,87.1,2.056008,1.332770,1.815137,1.584516,2.511943,1.369792,...,3.322,3.824,3.127,3.895,3.615,3.580,3.248,3.111,3.626,3.660
12,170,5.0,Pickford,86.7,1.103673,1.367299,1.310623,1.060990,1.431059,0.945135,...,3.634,4.039,3.580,3.637,3.136,3.560,3.148,3.549,3.574,3.109
13,199,5.0,Meslier,87.3,2.036678,1.468312,1.514453,2.187486,1.575379,1.580683,...,3.484,3.802,3.693,3.492,3.218,3.343,3.831,3.783,3.016,3.110
14,559,4.6,Ramsdale,82.8,1.147681,1.311603,1.817161,0.850621,1.109425,1.174406,...,3.966,3.587,3.245,3.860,2.955,3.645,2.971,3.333,3.536,3.381
15,408,5.0,Fabianski,87.6,1.392196,1.337300,1.165172,1.392196,1.549150,1.484496,...,3.522,3.553,3.274,3.141,3.438,3.083,3.702,3.273,3.554,3.129
16,314,4.5,Krul,86.7,2.645331,2.999758,1.829990,2.105094,1.413259,2.062992,...,3.466,3.075,3.291,3.234,3.380,3.491,3.212,3.026,3.049,3.264
17,30,5.5,Martínez,80.2,1.168327,1.166740,1.160294,1.789937,1.263431,1.752490,...,0.657,3.388,3.634,3.583,3.734,3.719,3.161,3.535,3.180,3.738
18,295,4.4,Dubravka,81.5,1.929904,2.146588,1.655510,2.486642,1.765267,1.657761,...,1.748,2.961,3.199,3.264,3.685,3.159,3.731,3.668,3.184,3.140
19,376,4.0,Foster,74.1,1.724413,1.834872,2.122501,1.528069,1.537326,1.545143,...,2.791,2.763,2.862,2.677,2.643,2.590,2.723,2.714,2.813,3.019

In [5]:
def convert_ga_to_xp(ga): # converts poisson rate to expected points
    rv = ss.poisson(mu=ga)
    cs = rv.pmf(0)
    cs2 = rv.pmf(2)
    cs4 = rv.pmf(4)
    cs6 = rv.pmf(6)
    return 2 + 4 * cs - 1 * cs2 - 2 * cs4 - 3 * cs6

In [6]:
for gw in range(8,39):
    data[f'GW{gw}_Pts_Est'] = data[f'GW{gw}_GA'].apply(convert_ga_to_xp)
data

,id,price,name,avg_mins,GW1_GA,GW2_GA,GW3_GA,GW4_GA,GW5_GA,GW6_GA,...,GW29_Pts_Est,GW30_Pts_Est,GW31_Pts_Est,GW32_Pts_Est,GW33_Pts_Est,GW34_Pts_Est,GW35_Pts_Est,GW36_Pts_Est,GW37_Pts_Est,GW38_Pts_Est
0,143,6.0,Mendy,86.1,0.444605,0.586997,0.857016,0.510286,0.628087,0.719957,...,4.463621,4.470043,4.470635,4.264611,4.174142,4.259952,4.151940,4.477664,3.884541,4.643470
1,257,6.0,Ederson,80.3,0.433163,0.270038,0.348437,0.408874,0.315335,0.483767,...,4.755816,4.859628,4.768045,4.323864,4.737547,5.019595,4.653496,4.881301,4.548290,4.768884
2,353,5.5,Lloris,86.2,2.010915,1.467392,1.100712,1.442799,1.686347,1.639544,...,2.121035,2.549901,2.821119,2.365867,2.782211,2.565489,2.626462,1.782288,2.891409,2.830153
3,231,6.0,Alisson,79.4,0.752976,0.727536,0.999316,0.937576,0.735898,0.874423,...,3.440947,3.293626,3.964614,2.677721,3.288472,3.597476,3.478392,3.448466,3.478392,3.747187
4,270,5.1,de Gea,85.7,0.891040,0.970873,0.960145,0.835638,1.131791,0.932591,...,3.276570,2.461574,3.377113,3.167207,3.819455,3.131457,3.574093,3.268895,3.081527,3.355924
5,475,5.0,Sá,86.6,1.287953,1.174406,1.284163,0.994657,0.987818,1.154057,...,2.859776,3.154089,3.073272,3.001698,2.464036,3.071873,3.228781,2.509239,3.534755,2.169702
6,69,4.6,Sánchez,87.2,1.074205,0.828931,1.041477,1.111247,1.073359,1.086552,...,2.477896,2.263345,3.589124,2.881271,2.760795,3.323570,3.078855,2.868785,2.944792,3.053133
7,112,5.4,Pope,86.8,1.563174,2.866571,1.630771,1.924137,1.689918,1.983039,...,2.256145,2.502954,1.773727,2.511786,1.998915,2.522315,2.500589,2.314463,1.976965,2.502954
8,80,4.6,Raya,86.9,1.358903,1.389362,1.594608,1.256985,1.413044,1.983999,...,2.958697,2.430598,2.147992,2.616155,2.885953,2.591322,2.182600,2.888376,2.482763,2.774041
9,200,5.1,Schmeichel,87.5,1.247403,1.708364,1.254960,1.986089,1.497855,1.212560,...,2.404161,2.853121,2.141193,2.893181,2.577558,2.648375,2.289123,2.701711,2.840827,2.843248
10,334,4.5,McCarthy,87.2,1.705935,1.752985,1.575379,1.580683,2.480569,1.340959,...,2.979301,2.520037,2.341483,2.234230,2.538784,2.413853,2.764383,2.461127,1.915048,2.264597
11,146,4.5,Guaita,87.1,2.056008,1.332770,1.815137,1.584516,2.511943,1.369792,...,1.970074,2.471791,2.559247,2.284218,2.335152,2.621837,2.471791,3.000138,2.284218,2.289174
12,170,5.0,Pickford,86.7,1.103673,1.367299,1.310623,1.060990,1.431059,0.945135,...,3.100833,3.078693,2.542824,2.624524,3.130801,2.000976,2.587327,2.619333,3.090945,2.636872
13,199,5.0,Meslier,87.3,2.036678,1.468312,1.514453,2.187486,1.575379,1.580683,...,2.990759,2.470777,2.714645,2.712236,2.234230,2.500129,1.952057,2.281285,2.675929,2.461127
14,559,4.6,Ramsdale,82.8,1.147681,1.311603,1.817161,0.850621,1.109425,1.174406,...,3.073272,2.806062,3.051556,3.228781,3.001698,2.811308,2.728573,3.154089,3.001698,3.126779
15,408,5.0,Fabianski,87.6,1.392196,1.337300,1.165172,1.392196,1.549150,1.484496,...,2.739209,2.376126,2.792810,2.677721,3.004980,2.190553,2.756884,2.943732,2.147910,2.629331
16,314,4.5,Krul,86.7,2.645331,2.999758,1.829990,2.105094,1.413259,2.062992,...,2.029478,1.930614,2.096876,2.450502,1.741921,2.382661,1.958479,2.126738,2.150267,2.103925
17,30,5.5,Martínez,80.2,1.168327,1.166740,1.160294,1.789937,1.263431,1.752490,...,2.446221,2.804317,2.734860,2.684179,2.151830,2.521903,3.256895,2.785208,3.032111,1.952490
18,295,4.4,Dubravka,81.5,1.929904,2.146588,1.655510,2.486642,1.765267,1.657761,...,1.699380,2.414298,1.856897,2.385300,2.182275,2.374971,1.631954,1.476842,2.198662,2.180980
19,376,4.0,Foster,74.1,1.724413,1.834872,2.122501,1.528069,1.537326,1.545143,...,2.229818,2.348208,1.529661,2.374506,2.494750,1.559438,2.553899,2.276605,2.297150,1.796312

In [7]:
for i in range(8, 17):
    print(i, data.iloc[0][f"{i}_Pts"], data.iloc[0][f"GW{i}_Pts_Est"])
    print(i, data.iloc[3][f"{i}_Pts"], data.iloc[3][f"GW{i}_Pts_Est"])

8 4.24 4.272271614669891
8 0.677 3.7268859452820733
9 4.737 4.650862045003236
9 3.344 3.028599970879313
10 4.163 4.264610927186531
10 4.223 3.693316481070978
11 4.478 4.513030142355128
11 3.726 3.211936142079929
12 3.982 4.108028213015267
12 3.983 3.5635387948602166
13 3.775 4.112348920305754
13 4.155 3.7291027229080354
14 4.176 4.46189736305651
14 3.766 3.3410805206878953
15 3.804 4.043370696231499
15 3.903 3.4973464890547583
16 4.1 4.380599664520583
16 4.042 3.546749361672641

In [8]:
current_gw = 8
player_ids = data['id'].tolist()
id_dict = data.set_index('id').to_dict(orient='index')

In [9]:
def get_random_id(n):
    return ''.join(random.choice(string.ascii_letters + string.digits) for _ in range(n))

def read_solution(m, sol_file):
    with open(sol_file, 'r') as f:
        for v in m.get_variables():
            v.set_value(0)
        for line in f:
            if 'objective value' in line:
                continue
            words = line.split()
            v = m.get_variable(words[1])
            v.set_value(float(words[2]))


def print_solution(m, gws, xp):
    squad = m.get_variable('squad')
    lineup = m.get_variable('lineup')
    # Print solution
    selected_players = []
    gameweek_picks = []
    for p in player_ids:
        entry = {'player': p}
        if squad[p].get_value() > 0.5:
            selected_players.append(p)
            for g in gws:
                entry.update({g: round(lineup[p,g].get_value() * xp[g][p], 3) })
            gameweek_picks.append(entry)
    return selected_players


def solve_N_pick_K_pair_problem(players, measure, budget=10, N=2, K=1, max_iter=1, first_gw=1, last_gw=38, exclude=[], ):
    problem_name = get_random_id(10)
    m = so.Model(name=f'pick_{K}_choose_{N}_{problem_name}')
    gameweeks = list(range(first_gw, last_gw+1))
    # player_ids = players['ID'].tolist()
    squad = m.add_variables(player_ids, vartype=so.binary, name='squad')
    lineup = m.add_variables(player_ids, gameweeks, vartype=so.binary, name='lineup')
    price = players.set_index('id')['price'].to_dict()

    xp = {}
    indexed_players = players.set_index('id')
    for g in gameweeks:
        if isinstance(measure, list):
            if g < first_gw + 9:
                xp[g] = indexed_players[measure[0].format(g)]
            else:
                xp[g] = indexed_players[measure[1].format(g)]
        else:
            xp[g] = indexed_players[measure.format(g)]

    if len(exclude) > 0:
        m.add_constraints((squad[p] == 0 for p in exclude), name='ban_player')

    m.add_constraint(so.expr_sum(squad[p] for p in player_ids) == N, name='select_N')
    m.add_constraints((so.expr_sum(lineup[p, g] for p in player_ids) == K for g in gameweeks), name='pick_K')
    m.add_constraints((lineup[p,g] <= squad[p] for p in player_ids for g in gameweeks), name='valid_picks_only')
    m.add_constraint(so.expr_sum(squad[p] * price[p] for p in player_ids) <= budget, name='budget_con')

    m.set_objective(-so.expr_sum(xp[g][p] * lineup[p,g] for p in player_ids for g in gameweeks), sense='N', name='total_xp')

    m.export_mps(f"tmp/{problem_name}.mps")
    command = f"cbc tmp/{problem_name}.mps solve solu tmp/{problem_name}.sol"
    Popen(command).wait()
    read_solution(m, f'tmp/{problem_name}.sol')
    selected_players = print_solution(m, gameweeks, xp)

    # print(selected_players)

    os.unlink(f'tmp/{problem_name}.mps')
    os.unlink(f'tmp/{problem_name}.sol')

    for it in range(1, max_iter):
        c = m.add_constraint(so.expr_sum(squad[p] for p in selected_players) <= N-1, name=f'cutoff_{it}')
        m.export_mps("{problem_name}.mps")
        Popen(command).wait()
        read_solution(m, f'tmp/{problem_name}.sol')
        selected_players = print_solution(m, gameweeks, xp)

        os.unlink(f'tmp/{problem_name}.mps')
        os.unlink(f'tmp/{problem_name}.sol')

    return {'players': selected_players, 'xp': -1 * m.get_objective_value()}

In [10]:
res = solve_N_pick_K_pair_problem(data, measure='GW{}_Pts_Est', budget=10, N=2, K=1, max_iter=1, first_gw=8, last_gw=10)
for r in res['players']:
    print(r)
    print(id_dict[r])
res = solve_N_pick_K_pair_problem(data, measure='{}_Pts', budget=10, N=2, K=1, max_iter=1, first_gw=8, last_gw=10)
for r in res['players']:
    print(r)
    print(id_dict[r])

NOTE: Initialized model pick_1_choose_2_u8O4v3FGP7.
257
{'price': 6.0, 'name': 'Ederson', 'avg_mins': 80.3, 'GW1_GA': 0.4331634878944436, 'GW2_GA': 0.2700384425918748, 'GW3_GA': 0.3484367001185482, 'GW4_GA': 0.408873946517185, 'GW5_GA': 0.3153352136072861, 'GW6_GA': 0.4837666990970655, 'GW7_GA': 0.5910455068466239, 'GW8_GA': 0.3031399291031369, 'GW9_GA': 0.3744637628994022, 'GW10_GA': 0.3066242961043224, 'GW11_GA': 0.4736460568565411, 'GW12_GA': 0.3414679661161772, 'GW13_GA': 0.3676007186250683, 'GW14_GA': 0.408873946517185, 'GW15_GA': 0.3157640379043607, 'GW16_GA': 0.3118508466061006, 'GW17_GA': 0.336241415614399, 'GW18_GA': 0.3663672491069826, 'GW19_GA': 0.3519210671197336, 'GW20_GA': 0.3643431206588778, 'GW21_GA': 0.4048256896209753, 'GW22_GA': 0.4163818566416651, 'GW23_GA': 0.3663672491069826, 'GW24_GA': 0.3135930301066934, 'GW25_GA': 0.3137399094562558, 'GW26_GA': 0.3728272691268466, 'GW27_GA': 0.3967291758285558, 'GW28_GA': 0.4076709391387014, 'GW29_GA': 0.3562466068664583, 'GW30_GA': 0.3223039476096571, 'GW31_GA': 0.3521983499702485, 'GW32_GA': 0.5087175821730804, 'GW33_GA': 0.3623189922107728, 'GW34_GA': 0.2717806260924676, 'GW35_GA': 0.3906567904842412, 'GW36_GA': 0.3153352136072861, 'GW37_GA': 0.4270911025501289, 'GW38_GA': 0.3519210671197336, '8_Pts': 1.004, '9_Pts': 4.145, '10_Pts': 4.648, '11_Pts': 3.667, '12_Pts': 4.424, '13_Pts': 4.19, '14_Pts': 3.955, '15_Pts': 4.288, '16_Pts': 4.416, '17_Pts': 4.159, 'GW8_Pts_Est': 4.919529339987088, 'GW9_Pts_Est': 4.701284286803033, 'GW10_Pts_Est': 4.908568146607063, 'GW11_Pts_Est': 4.418417902500816, 'GW12_Pts_Est': 4.800659540260648, 'GW13_Pts_Est': 4.721731950814328, 'GW14_Pts_Est': 4.60049523374623, 'GW15_Pts_Est': 4.879964139197711, 'GW16_Pts_Est': 4.892184796952968, 'GW17_Pts_Est': 4.816649818655246, 'GW18_Pts_Est': 4.725419233671533, 'GW19_Pts_Est': 4.768884461882364, 'GW20_Pts_Est': 4.731478219489152, 'GW21_Pts_Est': 4.612204145204869, 'GW22_Pts_Est': 4.57888373523388, 'GW23_Pts_Est': 4.725419233671533, 'GW24_Pts_Est': 4.886739229558282, 'GW25_Pts_Est': 4.886280481529672, 'GW26_Pts_Est': 4.706149516046038, 'GW27_Pts_Est': 4.635740250179334, 'GW28_Pts_Est': 4.603970626205033, 'GW29_Pts_Est': 4.755815577837329, 'GW30_Pts_Est': 4.8596276172356605, 'GW31_Pts_Est': 4.768045301190613, 'GW32_Pts_Est': 4.323863530654123, 'GW33_Pts_Est': 4.73754733286812, 'GW34_Pts_Est': 5.019594651712774, 'GW35_Pts_Est': 4.653496267869227, 'GW36_Pts_Est': 4.88130142215883, 'GW37_Pts_Est': 4.548289568471269, 'GW38_Pts_Est': 4.768884461882364}
376
{'price': 4.0, 'name': 'Foster', 'avg_mins': 74.1, 'GW1_GA': 1.724413228886695, 'GW2_GA': 1.834872438207071, 'GW3_GA': 2.122501090682774, 'GW4_GA': 1.528069148369893, 'GW5_GA': 1.5373255563356536, 'GW6_GA': 1.5451425466757018, 'GW7_GA': 1.914218273372782, 'GW8_GA': 2.492716152648094, 'GW9_GA': 1.9439729615599235, 'GW10_GA': 1.5451425466757018, 'GW11_GA': 1.9836458791427791, 'GW12_GA': 1.9975876017796368, 'GW13_GA': 2.0034823379342064, 'GW14_GA': 2.0402710975441587, 'GW15_GA': 2.432959258577762, 'GW16_GA': 1.7852812912285012, 'GW17_GA': 1.7257719148542177, 'GW18_GA': 1.50245905091118, 'GW19_GA': 1.775363061832787, 'GW20_GA': 1.801243521262835, 'GW21_GA': 1.8268536187215485, 'GW22_GA': 1.7951995206242148, 'GW23_GA': 1.3231883687001866, 'GW24_GA': 2.092746402495632, 'GW25_GA': 1.5792893432873198, 'GW26_GA': 2.0034823379342064, 'GW27_GA': 2.320865678597052, 'GW28_GA': 1.7073398305808862, 'GW29_GA': 1.7951995206242148, 'GW30_GA': 1.6731930339692684, 'GW31_GA': 2.896122983548457, 'GW32_GA': 1.6475829365105552, 'GW33_GA': 1.5366058475227975, 'GW34_GA': 2.82669537777846, 'GW35_GA': 1.4853856526053708, 'GW36_GA': 1.7456083736456456, 'GW37_GA': 1.724413228886695, 'GW38_GA': 2.3704568255756207, '8_Pts': 2.791, '9_Pts': 2.763, '10_Pts': 2.862, '11_Pts': 2.677, '12_Pts': 2.643, '13_Pts': 2.59, '14_Pts': 2.723, '15_Pts': 2.714, '16_Pts': 2.813, '17_Pts': 3.019, 'GW8_Pts_Est': 1.7251669778051864, 'GW9_Pts_Est': 2.0995534926502426, 'GW10_Pts_Est': 2.4851227179641526, 'GW11_Pts_Est': 2.0671975476662854, 'GW12_Pts_Est': 2.0560511855442836, 'GW13_Pts_Est': 2.0513728041560166, 'GW14_Pts_Est': 2.0226301992476747, 'GW15_Pts_Est': 1.7591718107577234, 'GW16_Pts_Est': 2.2390342145945072, 'GW17_Pts_Est': 2.2958233524428846, 'GW18_Pts_Est': 2.533914574589788, 'GW19_Pts_Est': 2.2483204471695974, 'GW20_Pts_Est': 2.224235708886298, 'GW21_Pts_Est': 2.2008646641734497, 'GW22_Pts_Est': 2.2298179279121033, 'GW23_Pts_Est': 2.7580530537208876, 'GW24_Pts_Est': 1.982952204589656, 'GW25_Pts_Est': 2.44725760235109, 'GW26_Pts_Est': 2.0513728041560166, 'GW27_Pts_Est': 1.8269759199268112, 'GW28_Pts_Est': 2.3139456225302597, 'GW29_Pts_Est': 2.2298179279121033, 'GW30_Pts_Est': 2.348207529622867, 'GW31_Pts_Est': 1.5296609796001799, 'GW32_Pts_Est': 2.3745056562725972, 'GW33_Pts_Est': 2.494749540720986, 'GW34_Pts_Est': 1.5594380420366587, 'GW35_Pts_Est': 2.553899169836485, 'GW36_Pts_Est': 2.276605230422495, 'GW37_Pts_Est': 2.297150437674309, 'GW38_Pts_Est': 1.79631224489012}
NOTE: Initialized model pick_1_choose_2_9iMThhBZ7g.
143
{'price': 6.0, 'name': 'Mendy', 'avg_mins': 86.1, 'GW1_GA': 0.4446052293512674, 'GW2_GA': 0.5869972499504141, 'GW3_GA': 0.8570159849276046, 'GW4_GA': 0.5102855473236138, 'GW5_GA': 0.6280870574469432, 'GW6_GA': 0.71995733161995, 'GW7_GA': 0.4572360597305648, 'GW8_GA': 0.5282975249553729, 'GW9_GA': 0.3915557417582185, 'GW10_GA': 0.5312325112051248, 'GW11_GA': 0.4395528971995485, 'GW12_GA': 0.5928672224499183, 'GW13_GA': 0.5911228617511171, 'GW14_GA': 0.457857854961323, 'GW15_GA': 0.6192820986976869, 'GW16_GA': 0.4875500526408785, 'GW17_GA': 0.4951285508684569, 'GW18_GA': 0.5253625387056206, 'GW19_GA': 0.5928672224499183, 'GW20_GA': 0.4673407240340027, 'GW21_GA': 0.7376404941509664, 'GW22_GA': 0.83647108117934, 'GW23_GA': 0.5405995402339275, 'GW24_GA': 0.542972456204133, 'GW25_GA': 0.5052332151718948, 'GW26_GA': 0.5165575799563644, 'GW27_GA': 0.5102855473236138, 'GW28_GA': 0.5106876074568603, 'GW29_GA': 0.4572360597305648, 'GW30_GA': 0.4549228687115709, 'GW31_GA': 0.4547098936547054, 'GW32_GA': 0.5312325112051248, 'GW33_GA': 0.5664523462021496, 'GW34_GA': 0.533021042006349, 'GW35_GA': 0.5752573049514058, 'GW36_GA': 0.4521837275788458, 'GW37_GA': 0.6867867824419847, 'GW38_GA': 0.3940819078340779, '8_Pts': 4.24, '9_Pts': 4.737, '10_Pts': 4.163, '11_Pts': 4.478, '12_Pts': 3.982, '13_Pts': 3.775, '14_Pts': 4.176, '15_Pts': 3.804, '16_Pts': 4.1, '17_Pts': 4.264, 'GW8_Pts_Est': 4.272271614669891, 'GW9_Pts_Est': 4.650862045003236, 'GW10_Pts_Est': 4.264610927186531, 'GW11_Pts_Est': 4.513030142355128, 'GW12_Pts_Est': 4.108028213015267, 'GW13_Pts_Est': 4.112348920305754, 'GW14_Pts_Est': 4.46189736305651, 'GW15_Pts_Est': 4.043370696231499, 'GW16_Pts_Est': 4.380599664520583, 'GW17_Pts_Est': 4.360171020660733, 'GW18_Pts_Est': 4.279951205992921, 'GW19_Pts_Est': 4.108028213015267, 'GW20_Pts_Est': 4.435713549895279, 'GW21_Pts_Est': 3.7707353179569325, 'GW22_Pts_Est': 3.563089531879713, 'GW23_Pts_Est': 4.240287738266066, 'GW24_Pts_Est': 4.234156365646856, 'GW25_Pts_Est': 4.3331337608809095, 'GW26_Pts_Est': 4.3031038285334455, 'GW27_Pts_Est': 4.319700754340937, 'GW28_Pts_Est': 4.3186342099571755, 'GW29_Pts_Est': 4.4636214978295055, 'GW30_Pts_Est': 4.470043452392996, 'GW31_Pts_Est': 4.470635343916528, 'GW32_Pts_Est': 4.264610927186531, 'GW33_Pts_Est': 4.174141725698001, 'GW34_Pts_Est': 4.259951885921149, 'GW35_Pts_Est': 4.151940224795764, 'GW36_Pts_Est': 4.477663988326796, 'GW37_Pts_Est': 3.8845408196181244, 'GW38_Pts_Est': 4.643470038966416}
376
{'price': 4.0, 'name': 'Foster', 'avg_mins': 74.1, 'GW1_GA': 1.724413228886695, 'GW2_GA': 1.834872438207071, 'GW3_GA': 2.122501090682774, 'GW4_GA': 1.528069148369893, 'GW5_GA': 1.5373255563356536, 'GW6_GA': 1.5451425466757018, 'GW7_GA': 1.914218273372782, 'GW8_GA': 2.492716152648094, 'GW9_GA': 1.9439729615599235, 'GW10_GA': 1.5451425466757018, 'GW11_GA': 1.9836458791427791, 'GW12_GA': 1.9975876017796368, 'GW13_GA': 2.0034823379342064, 'GW14_GA': 2.0402710975441587, 'GW15_GA': 2.432959258577762, 'GW16_GA': 1.7852812912285012, 'GW17_GA': 1.7257719148542177, 'GW18_GA': 1.50245905091118, 'GW19_GA': 1.775363061832787, 'GW20_GA': 1.801243521262835, 'GW21_GA': 1.8268536187215485, 'GW22_GA': 1.7951995206242148, 'GW23_GA': 1.3231883687001866, 'GW24_GA': 2.092746402495632, 'GW25_GA': 1.5792893432873198, 'GW26_GA': 2.0034823379342064, 'GW27_GA': 2.320865678597052, 'GW28_GA': 1.7073398305808862, 'GW29_GA': 1.7951995206242148, 'GW30_GA': 1.6731930339692684, 'GW31_GA': 2.896122983548457, 'GW32_GA': 1.6475829365105552, 'GW33_GA': 1.5366058475227975, 'GW34_GA': 2.82669537777846, 'GW35_GA': 1.4853856526053708, 'GW36_GA': 1.7456083736456456, 'GW37_GA': 1.724413228886695, 'GW38_GA': 2.3704568255756207, '8_Pts': 2.791, '9_Pts': 2.763, '10_Pts': 2.862, '11_Pts': 2.677, '12_Pts': 2.643, '13_Pts': 2.59, '14_Pts': 2.723, '15_Pts': 2.714, '16_Pts': 2.813, '17_Pts': 3.019, 'GW8_Pts_Est': 1.7251669778051864, 'GW9_Pts_Est': 2.0995534926502426, 'GW10_Pts_Est': 2.4851227179641526, 'GW11_Pts_Est': 2.0671975476662854, 'GW12_Pts_Est': 2.0560511855442836, 'GW13_Pts_Est': 2.0513728041560166, 'GW14_Pts_Est': 2.0226301992476747, 'GW15_Pts_Est': 1.7591718107577234, 'GW16_Pts_Est': 2.2390342145945072, 'GW17_Pts_Est': 2.2958233524428846, 'GW18_Pts_Est': 2.533914574589788, 'GW19_Pts_Est': 2.2483204471695974, 'GW20_Pts_Est': 2.224235708886298, 'GW21_Pts_Est': 2.2008646641734497, 'GW22_Pts_Est': 2.2298179279121033, 'GW23_Pts_Est': 2.7580530537208876, 'GW24_Pts_Est': 1.982952204589656, 'GW25_Pts_Est': 2.44725760235109, 'GW26_Pts_Est': 2.0513728041560166, 'GW27_Pts_Est': 1.8269759199268112, 'GW28_Pts_Est': 2.3139456225302597, 'GW29_Pts_Est': 2.2298179279121033, 'GW30_Pts_Est': 2.348207529622867, 'GW31_Pts_Est': 1.5296609796001799, 'GW32_Pts_Est': 2.3745056562725972, 'GW33_Pts_Est': 2.494749540720986, 'GW34_Pts_Est': 1.5594380420366587, 'GW35_Pts_Est': 2.553899169836485, 'GW36_Pts_Est': 2.276605230422495, 'GW37_Pts_Est': 2.297150437674309, 'GW38_Pts_Est': 1.79631224489012}

In [11]:
values = []
for b in [86, 92, 100]:
    for lgw in range(9, 39):
        h = lgw - 8
        res = solve_N_pick_K_pair_problem(data, measure="GW{}_Pts_Est", budget=b/10, N=2, K=1, max_iter=1, first_gw=8, last_gw=lgw)
        print(b/10)
        names = []
        for r in res['players']:
            print(id_dict[r]['name'])
            names.append(id_dict[r]['name'])
        values.append({'budget': b/10, 'horizon': h, 'names': ', '.join(names), 'xp': res['xp']})
v_df = pd.DataFrame(values)

NOTE: Initialized model pick_1_choose_2_ZC7x43qUdN.
8.6
Ramsdale
Foster
NOTE: Initialized model pick_1_choose_2_1mByynqPIp.
8.6
Ramsdale
Foster
NOTE: Initialized model pick_1_choose_2_fChGC6OIe2.
8.6
Ramsdale
Foster
NOTE: Initialized model pick_1_choose_2_1tcO986YBc.
8.6
Ramsdale
Foster
NOTE: Initialized model pick_1_choose_2_wfYp3R7Nfc.
8.6
Ramsdale
Foster
NOTE: Initialized model pick_1_choose_2_YRSI8ly7IL.
8.6
Ramsdale
Foster
NOTE: Initialized model pick_1_choose_2_ghbzf8eY9t.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_s3Na7GRguE.
8.6
Ramsdale
Foster
NOTE: Initialized model pick_1_choose_2_WrNjFEIgJk.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_xdTrqonGgO.
8.6
Ramsdale
Foster
NOTE: Initialized model pick_1_choose_2_jF6A9weIAx.
8.6
Ramsdale
Foster
NOTE: Initialized model pick_1_choose_2_WVxd2X9ufD.
8.6
Ramsdale
Foster
NOTE: Initialized model pick_1_choose_2_iGab2MDNJP.
8.6
Ramsdale
Foster
NOTE: Initialized model pick_1_choose_2_UbXOBXnrED.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_gFVEvykjIt.
8.6
Ramsdale
Foster
NOTE: Initialized model pick_1_choose_2_5yGJSq7T87.
8.6
Ramsdale
Foster
NOTE: Initialized model pick_1_choose_2_5eUzq0wH6B.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_Umbl2w59Zc.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_NTYnXBeaSu.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_RLJOL7hEci.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_DRDRLyYodp.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_Nzd2USk2Um.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_iHC99KUSDi.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_stfrpxDyJv.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_l4iv7lnaaj.
8.6
Ramsdale
Foster
NOTE: Initialized model pick_1_choose_2_9f25X6pW4w.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_ZMOsTIEDzo.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_KaasfUb0gU.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_98RyZnwlkk.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_MmNuAr5ZFb.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_gx7fb1bGFO.
9.2
Sánchez
Ramsdale
NOTE: Initialized model pick_1_choose_2_5dW1KZsQAM.
9.2
Sánchez
Ramsdale
NOTE: Initialized model pick_1_choose_2_x7Ing7uhtg.
9.2
Sánchez
Ramsdale
NOTE: Initialized model pick_1_choose_2_W45kRvBSSj.
9.2
Sánchez
Ramsdale
NOTE: Initialized model pick_1_choose_2_10lvcjoFp7.
9.2
Sánchez
Ramsdale
NOTE: Initialized model pick_1_choose_2_kamX0enNgK.
9.2
Sánchez
Ramsdale
NOTE: Initialized model pick_1_choose_2_0om93CY9Lq.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_84tz9gxk9T.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_Mme9xERmca.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_W9xCmnof3G.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_K5yIZhWb29.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_a18XBlTgPe.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_ru5zQO7iXi.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_wJnGrDXt3v.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_hxo4BGWARd.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_lNIDUIiNeV.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_yQWyo4dYJF.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_I5XQcaoyoD.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_IBp7EXJSoU.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_63iZ3x2oQP.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_bHqXt26f8y.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_kpPNgIJcVa.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_wxGTcrL2Xr.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_bNzl3GR74Y.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_ZHVEhay7v3.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_SiUQ7MUtxQ.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_zlRM6NeSZQ.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_Z8kcEbwE91.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_e0X6sWTD9L.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_f8A9mKYnvE.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_EIICryrxxl.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_KnAa25cBcf.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_b7Zu7yUCAk.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_JsMrNMG1LD.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_WaLIZxbjOR.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_enpBbnuFJn.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_RT7f3aqbK9.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_5OsSEak7yp.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_Ttqd9VgkEq.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_Epo4CSLQbI.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_BUk5tkqDhF.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_O7ljWFQg8E.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_3kL23wNAEu.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_1mjGXJ4REE.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_10RYucaXPJ.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_NvQYIEnnsk.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_zMoK8DY7iq.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_Qi36ApNjlI.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_Al8tfraQPj.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_bnSp27INuE.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_4jfugneU94.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_oHie7qWs2e.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_Wl0Z49PZHV.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_7axiczdZMO.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_l83D7oYmnp.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_0E0G9QC0C1.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_0oCFvLSKdM.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_09mS1Bzobu.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_BOmifdqOip.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_RFDhYeuKlO.
10.0
Ederson
Foster

In [12]:
v_df['xp_per_gw'] = v_df['xp'] / v_df['horizon']

In [13]:
v_df.pivot(index='horizon', columns=['budget'], values=['xp_per_gw'])

        xp_per_gw
budget       8.6       9.2       10.0
horizon
1        6.389435  6.405679  9.620814
2        4.597748  4.605870  7.264691
3        4.239784  4.245199  6.315933
4        3.722264  3.899783  5.937115
5        3.631245  3.773260  5.694038
6        3.450395  3.608700  5.511781
7        3.368685  3.571562  5.421522
8        3.353664  3.571780  5.355354
9        3.327970  3.543449  5.295498
10       3.271230  3.541887  5.238490
11       3.271669  3.520547  5.195799
12       3.272916  3.529736  5.157106
13       3.210694  3.533868  5.115190
14       3.195918  3.503864  5.076882
15       3.185243  3.490358  5.053452
16       3.175008  3.483195  5.043032
17       3.162276  3.487993  5.033811
18       3.175041  3.471685  5.015608
19       3.172698  3.489448  4.995615
20       3.167018  3.440160  4.976033
21       3.134203  3.432370  4.965546
22       3.098476  3.388243  4.960732
23       3.119808  3.387759  4.952354
24       3.109869  3.378569  4.926167
25       3.097381  3.396205  4.918622
26       3.104663  3.386022  4.922506
27       3.103707  3.392988  4.912542
28       3.095317  3.388556  4.911427
29       3.090126  3.377969  4.898905
30       3.088893  3.377234  4.894571

In [14]:
v_df.pivot(index='horizon', columns=['budget'], values=['names'])

                    names
budget               8.6                9.2              10.0
horizon
1        Ramsdale, Foster  Sánchez, Ramsdale  Ederson, Foster
2        Ramsdale, Foster  Sánchez, Ramsdale  Ederson, Foster
3        Ramsdale, Foster  Sánchez, Ramsdale  Ederson, Foster
4        Ramsdale, Foster  Sánchez, Ramsdale  Ederson, Foster
5        Ramsdale, Foster  Sánchez, Ramsdale  Ederson, Foster
6        Ramsdale, Foster  Sánchez, Ramsdale  Ederson, Foster
7         Sánchez, Foster     de Gea, Foster  Ederson, Foster
8        Ramsdale, Foster     de Gea, Foster  Ederson, Foster
9         Sánchez, Foster     de Gea, Foster  Ederson, Foster
10       Ramsdale, Foster     de Gea, Foster  Ederson, Foster
11       Ramsdale, Foster     de Gea, Foster  Ederson, Foster
12       Ramsdale, Foster     de Gea, Foster  Ederson, Foster
13       Ramsdale, Foster     de Gea, Foster  Ederson, Foster
14        Sánchez, Foster     de Gea, Foster  Ederson, Foster
15       Ramsdale, Foster     de Gea, Foster  Ederson, Foster
16       Ramsdale, Foster     de Gea, Foster  Ederson, Foster
17        Sánchez, Foster     de Gea, Foster  Ederson, Foster
18        Sánchez, Foster     de Gea, Foster  Ederson, Foster
19        Sánchez, Foster     de Gea, Foster  Ederson, Foster
20        Sánchez, Foster     de Gea, Foster  Ederson, Foster
21        Sánchez, Foster     de Gea, Foster  Ederson, Foster
22        Sánchez, Foster     de Gea, Foster  Ederson, Foster
23        Sánchez, Foster     de Gea, Foster  Ederson, Foster
24        Sánchez, Foster     de Gea, Foster  Ederson, Foster
25       Ramsdale, Foster     de Gea, Foster  Ederson, Foster
26        Sánchez, Foster     de Gea, Foster  Ederson, Foster
27        Sánchez, Foster     de Gea, Foster  Ederson, Foster
28        Sánchez, Foster     de Gea, Foster  Ederson, Foster
29        Sánchez, Foster     de Gea, Foster  Ederson, Foster
30        Sánchez, Foster     de Gea, Foster  Ederson, Foster

In [15]:
values = []
for b in [86, 92, 100]:
    for lgw in range(9, 17):
        h = lgw - 8
        res = solve_N_pick_K_pair_problem(data, measure="{}_Pts", budget=b/10, N=2, K=1, max_iter=1, first_gw=8, last_gw=lgw)
        print(b/10)
        names = []
        for r in res['players']:
            print(id_dict[r]['name'])
            names.append(id_dict[r]['name'])
        values.append({'budget': b/10, 'horizon': h, 'names': ', '.join(names), 'xp': res['xp']})
v_df = pd.DataFrame(values)

NOTE: Initialized model pick_1_choose_2_kj2fGKZffz.
8.6
Ramsdale
Foster
NOTE: Initialized model pick_1_choose_2_f6sQK8op4H.
8.6
McCarthy
Foster
NOTE: Initialized model pick_1_choose_2_FSJoWK5zxX.
8.6
Ramsdale
Foster
NOTE: Initialized model pick_1_choose_2_BiUbI1vZ0B.
8.6
McCarthy
Foster
NOTE: Initialized model pick_1_choose_2_BkxFZHVOKS.
8.6
Raya
Foster
NOTE: Initialized model pick_1_choose_2_9yg07Bgwrv.
8.6
Raya
Foster
NOTE: Initialized model pick_1_choose_2_u2vVIPRiEK.
8.6
McCarthy
Foster
NOTE: Initialized model pick_1_choose_2_bLo0UtRJ9L.
8.6
Raya
Foster
NOTE: Initialized model pick_1_choose_2_ash1rpRPZb.
9.2
McCarthy
Ramsdale
NOTE: Initialized model pick_1_choose_2_iwv2Cqq0IH.
9.2
McCarthy
Ramsdale
NOTE: Initialized model pick_1_choose_2_ScID7A9Z6Z.
9.2
Sánchez
McCarthy
NOTE: Initialized model pick_1_choose_2_CCHHv9uSmC.
9.2
Sánchez
McCarthy
NOTE: Initialized model pick_1_choose_2_QTZoAQ3fF6.
9.2
Sánchez
McCarthy
NOTE: Initialized model pick_1_choose_2_Q6j8OOWUq7.
9.2
Sánchez
McCarthy
NOTE: Initialized model pick_1_choose_2_2gtqPauwZh.
9.2
Sánchez
McCarthy
NOTE: Initialized model pick_1_choose_2_If0W0ktXwJ.
9.2
Sánchez
McCarthy
NOTE: Initialized model pick_1_choose_2_tSWcYGpbQL.
10.0
Mendy
Foster
NOTE: Initialized model pick_1_choose_2_5vbF2nS0XI.
10.0
Mendy
Foster
NOTE: Initialized model pick_1_choose_2_rG9N5krbIa.
10.0
Mendy
Foster
NOTE: Initialized model pick_1_choose_2_puNAHoPLIK.
10.0
Mendy
Foster
NOTE: Initialized model pick_1_choose_2_jfmaFOIgRg.
10.0
Mendy
Foster
NOTE: Initialized model pick_1_choose_2_sgPu6L0HGA.
10.0
Mendy
Foster
NOTE: Initialized model pick_1_choose_2_GSH4MWy1kx.
10.0
Mendy
Foster
NOTE: Initialized model pick_1_choose_2_Qw2hagiuj4.
10.0
Mendy
Foster

In [16]:
v_df['xp_per_gw'] = v_df['xp'] / v_df['horizon']

In [17]:
v_df.pivot(index='horizon', columns=['budget'], values=['xp_per_gw'])

        xp_per_gw
budget       8.6       9.2       10.0
horizon
1         7.55300  7.858000  8.977000
2         5.51200  5.734500  6.570000
3         4.88600  5.123667  5.872667
4         4.54325  4.740250  5.400000
5         4.34440  4.519200  5.075000
6         4.14400  4.348167  4.925167
7         4.05300  4.249000  4.765000
8         4.00000  4.172625  4.681875

In [18]:
v_df.pivot(index='horizon', columns=['budget'], values=['names'])

                    names
budget               8.6                 9.2            10.0
horizon
1        Ramsdale, Foster  McCarthy, Ramsdale  Mendy, Foster
2        McCarthy, Foster  McCarthy, Ramsdale  Mendy, Foster
3        Ramsdale, Foster   Sánchez, McCarthy  Mendy, Foster
4        McCarthy, Foster   Sánchez, McCarthy  Mendy, Foster
5            Raya, Foster   Sánchez, McCarthy  Mendy, Foster
6            Raya, Foster   Sánchez, McCarthy  Mendy, Foster
7        McCarthy, Foster   Sánchez, McCarthy  Mendy, Foster
8            Raya, Foster   Sánchez, McCarthy  Mendy, Foster

In [19]:
values = []
for b in [86, 92, 100]:
    for lgw in range(9, 39):
        h = lgw - 8
        res = solve_N_pick_K_pair_problem(data, measure=["{}_Pts", "GW{}_Pts_Est"], budget=b/10, N=2, K=1, max_iter=1, first_gw=8, last_gw=lgw)
        print(b/10)
        names = []
        for r in res['players']:
            print(id_dict[r]['name'])
            names.append(id_dict[r]['name'])
        values.append({'budget': b/10, 'horizon': h, 'names': ', '.join(names), 'xp': res['xp']})
v_df = pd.DataFrame(values)
v_df['xp_per_gw'] = v_df['xp'] / v_df['horizon']

NOTE: Initialized model pick_1_choose_2_bRZVoOjKQI.
8.6
Ramsdale
Foster
NOTE: Initialized model pick_1_choose_2_cOK8DOet5Z.
8.6
McCarthy
Foster
NOTE: Initialized model pick_1_choose_2_JDikACHpky.
8.6
Ramsdale
Foster
NOTE: Initialized model pick_1_choose_2_FP1Qy02WvS.
8.6
McCarthy
Foster
NOTE: Initialized model pick_1_choose_2_f6pmC9Qn2d.
8.6
Raya
Foster
NOTE: Initialized model pick_1_choose_2_ENdmQvm7rc.
8.6
Raya
Foster
NOTE: Initialized model pick_1_choose_2_BkQrNxfYhe.
8.6
McCarthy
Foster
NOTE: Initialized model pick_1_choose_2_LPh0hdYhBZ.
8.6
Raya
Foster
NOTE: Initialized model pick_1_choose_2_OqSwdwrH1s.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_fa9IWg6R4l.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_oJYGfY57ac.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_YvkD1EOvQP.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_sZD2CY3Ykb.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_lL4FQuhi02.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_0Ga8nyDb2Y.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_W9JRSiBQDF.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_8m9aUzbWr4.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_JfqXjEo0R8.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_znN6Uux4CM.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_o9bnSeRgDw.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_gvQIXYsFFr.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_i8FFwOsVxe.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_uh3C3HTWNk.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_MiuEnyPiAE.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_GGhScQlON1.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_bafzKkkfQv.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_UEKkOQYpWn.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_AlQhpKa28G.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_Ooh56B1Tjb.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_5VNPYRcKY3.
8.6
Sánchez
Foster
NOTE: Initialized model pick_1_choose_2_ZJvdTxvW1W.
9.2
McCarthy
Ramsdale
NOTE: Initialized model pick_1_choose_2_AMH17C6BYi.
9.2
McCarthy
Ramsdale
NOTE: Initialized model pick_1_choose_2_k0W6WxUhN2.
9.2
Sánchez
McCarthy
NOTE: Initialized model pick_1_choose_2_zv8a6jUqHS.
9.2
Sánchez
McCarthy
NOTE: Initialized model pick_1_choose_2_PUDxXOmph8.
9.2
Sánchez
McCarthy
NOTE: Initialized model pick_1_choose_2_NKhUiyKtGl.
9.2
Sánchez
McCarthy
NOTE: Initialized model pick_1_choose_2_qKT1y9rqZU.
9.2
Sánchez
McCarthy
NOTE: Initialized model pick_1_choose_2_xiZv1JUAc6.
9.2
Sánchez
McCarthy
NOTE: Initialized model pick_1_choose_2_7q8UjrqJfj.
9.2
Sánchez
McCarthy
NOTE: Initialized model pick_1_choose_2_27bfACMRNm.
9.2
Sánchez
McCarthy
NOTE: Initialized model pick_1_choose_2_deibdSo3tV.
9.2
Sánchez
McCarthy
NOTE: Initialized model pick_1_choose_2_Y2ZFfdYJqV.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_diPCnoAZJz.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_1Dk5HHnV4r.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_k09cYuLRHU.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_ybUStsmsEf.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_3eBIZ1wWv0.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_3hhv5VD4S8.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_5HFyf18JBP.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_xBUruHQazf.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_RqfY8ighBW.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_PXmbGG7OGu.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_nYpZUmdP7j.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_4erBmNoSH8.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_U5H1poWb0f.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_aB3jaLlz16.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_ckrdPaAc7t.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_EiOADuEW5X.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_ddR8NRWyMV.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_WLlaycv6or.
9.2
de Gea
Foster
NOTE: Initialized model pick_1_choose_2_Is3lZHrD3D.
10.0
Mendy
Foster
NOTE: Initialized model pick_1_choose_2_cVirHnwzwl.
10.0
Mendy
Foster
NOTE: Initialized model pick_1_choose_2_shhEd8gcxV.
10.0
Mendy
Foster
NOTE: Initialized model pick_1_choose_2_0heJCmrRJz.
10.0
Mendy
Foster
NOTE: Initialized model pick_1_choose_2_tvv0SHaLb6.
10.0
Mendy
Foster
NOTE: Initialized model pick_1_choose_2_q1bqGLmxbP.
10.0
Mendy
Foster
NOTE: Initialized model pick_1_choose_2_arEegGKROy.
10.0
Mendy
Foster
NOTE: Initialized model pick_1_choose_2_SZkKbYcsT2.
10.0
Mendy
Foster
NOTE: Initialized model pick_1_choose_2_GAQFl334Xa.
10.0
Mendy
Foster
NOTE: Initialized model pick_1_choose_2_LvpTNKm1cX.
10.0
Mendy
Foster
NOTE: Initialized model pick_1_choose_2_TsByjSkdi8.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_vu4mr2zvM4.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_1cCqRot3jx.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_73Ebdzlw3F.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_dbkKvgdka5.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_rdo6T8YtPV.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_4VoJSzxsvV.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_C1HZhchOMH.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_1zRvfAlPue.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_5EWYTVeqYl.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_cjeTRNRsm2.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_awSQ4hWF7C.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_Sy7u33NnWB.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_j2ByKU2Y8y.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_pHuvhUwmy9.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_zLkJFcULi2.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_tqXKR8X0oT.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_VEO4xJNSlr.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_lgniEnH2WO.
10.0
Ederson
Foster
NOTE: Initialized model pick_1_choose_2_MPXnA1QGLV.
10.0
Ederson
Foster

In [20]:
v_df.pivot(index='horizon', columns=['budget'], values=['xp_per_gw'])

        xp_per_gw
budget       8.6       9.2       10.0
horizon
1        7.553000  7.858000  8.977000
2        5.512000  5.734500  6.570000
3        4.886000  5.123667  5.872667
4        4.543250  4.740250  5.400000
5        4.344400  4.519200  5.075000
6        4.144000  4.348167  4.925167
7        4.053000  4.249000  4.765000
8        4.000000  4.172625  4.681875
9        3.908546  4.080435  4.646130
10       3.777965  3.944839  4.609512
11       3.737534  3.889237  4.621359
12       3.639873  3.830883  4.630536
13       3.584290  3.811850  4.629126
14       3.569145  3.761990  4.625537
15       3.522105  3.731276  4.632196
16       3.478917  3.709055  4.648105
17       3.469640  3.700568  4.662115
18       3.465329  3.672450  4.664562
19       3.447707  3.679646  4.663045
20       3.428278  3.620848  4.660091
21       3.383021  3.604454  4.664649
22       3.335984  3.552505  4.673512
23       3.346990  3.544879  4.677622
24       3.327585  3.529143  4.662882
25       3.304914  3.540755  4.665869
26       3.305631  3.525013  4.679474
27       3.297232  3.526831  4.678511
28       3.281931  3.517619  4.685754
29       3.270305  3.502581  4.681014
30       3.263066  3.497693  4.683943

In [21]:
v_df.pivot(index='horizon', columns=['budget'], values=['names'])

                    names
budget               8.6                 9.2              10.0
horizon
1        Ramsdale, Foster  McCarthy, Ramsdale    Mendy, Foster
2        McCarthy, Foster  McCarthy, Ramsdale    Mendy, Foster
3        Ramsdale, Foster   Sánchez, McCarthy    Mendy, Foster
4        McCarthy, Foster   Sánchez, McCarthy    Mendy, Foster
5            Raya, Foster   Sánchez, McCarthy    Mendy, Foster
6            Raya, Foster   Sánchez, McCarthy    Mendy, Foster
7        McCarthy, Foster   Sánchez, McCarthy    Mendy, Foster
8            Raya, Foster   Sánchez, McCarthy    Mendy, Foster
9         Sánchez, Foster   Sánchez, McCarthy    Mendy, Foster
10        Sánchez, Foster   Sánchez, McCarthy    Mendy, Foster
11        Sánchez, Foster   Sánchez, McCarthy  Ederson, Foster
12        Sánchez, Foster      de Gea, Foster  Ederson, Foster
13        Sánchez, Foster      de Gea, Foster  Ederson, Foster
14        Sánchez, Foster      de Gea, Foster  Ederson, Foster
15        Sánchez, Foster      de Gea, Foster  Ederson, Foster
16        Sánchez, Foster      de Gea, Foster  Ederson, Foster
17        Sánchez, Foster      de Gea, Foster  Ederson, Foster
18        Sánchez, Foster      de Gea, Foster  Ederson, Foster
19        Sánchez, Foster      de Gea, Foster  Ederson, Foster
20        Sánchez, Foster      de Gea, Foster  Ederson, Foster
21        Sánchez, Foster      de Gea, Foster  Ederson, Foster
22        Sánchez, Foster      de Gea, Foster  Ederson, Foster
23        Sánchez, Foster      de Gea, Foster  Ederson, Foster
24        Sánchez, Foster      de Gea, Foster  Ederson, Foster
25        Sánchez, Foster      de Gea, Foster  Ederson, Foster
26        Sánchez, Foster      de Gea, Foster  Ederson, Foster
27        Sánchez, Foster      de Gea, Foster  Ederson, Foster
28        Sánchez, Foster      de Gea, Foster  Ederson, Foster
29        Sánchez, Foster      de Gea, Foster  Ederson, Foster
30        Sánchez, Foster      de Gea, Foster  Ederson, Foster

In [24]:
pd.concat([v_df.pivot(index='horizon', columns=['budget'], values=['xp_per_gw']), v_df.pivot(index='horizon', columns=['budget'], values=['names'])], axis=1)

        xp_per_gw                                 names                      \
budget       8.6       9.2       10.0              8.6                 9.2
horizon
1        7.553000  7.858000  8.977000  Ramsdale, Foster  McCarthy, Ramsdale
2        5.512000  5.734500  6.570000  McCarthy, Foster  McCarthy, Ramsdale
3        4.886000  5.123667  5.872667  Ramsdale, Foster   Sánchez, McCarthy
4        4.543250  4.740250  5.400000  McCarthy, Foster   Sánchez, McCarthy
5        4.344400  4.519200  5.075000      Raya, Foster   Sánchez, McCarthy
6        4.144000  4.348167  4.925167      Raya, Foster   Sánchez, McCarthy
7        4.053000  4.249000  4.765000  McCarthy, Foster   Sánchez, McCarthy
8        4.000000  4.172625  4.681875      Raya, Foster   Sánchez, McCarthy
9        3.908546  4.080435  4.646130   Sánchez, Foster   Sánchez, McCarthy
10       3.777965  3.944839  4.609512   Sánchez, Foster   Sánchez, McCarthy
11       3.737534  3.889237  4.621359   Sánchez, Foster   Sánchez, McCarthy
12       3.639873  3.830883  4.630536   Sánchez, Foster      de Gea, Foster
13       3.584290  3.811850  4.629126   Sánchez, Foster      de Gea, Foster
14       3.569145  3.761990  4.625537   Sánchez, Foster      de Gea, Foster
15       3.522105  3.731276  4.632196   Sánchez, Foster      de Gea, Foster
16       3.478917  3.709055  4.648105   Sánchez, Foster      de Gea, Foster
17       3.469640  3.700568  4.662115   Sánchez, Foster      de Gea, Foster
18       3.465329  3.672450  4.664562   Sánchez, Foster      de Gea, Foster
19       3.447707  3.679646  4.663045   Sánchez, Foster      de Gea, Foster
20       3.428278  3.620848  4.660091   Sánchez, Foster      de Gea, Foster
21       3.383021  3.604454  4.664649   Sánchez, Foster      de Gea, Foster
22       3.335984  3.552505  4.673512   Sánchez, Foster      de Gea, Foster
23       3.346990  3.544879  4.677622   Sánchez, Foster      de Gea, Foster
24       3.327585  3.529143  4.662882   Sánchez, Foster      de Gea, Foster
25       3.304914  3.540755  4.665869   Sánchez, Foster      de Gea, Foster
26       3.305631  3.525013  4.679474   Sánchez, Foster      de Gea, Foster
27       3.297232  3.526831  4.678511   Sánchez, Foster      de Gea, Foster
28       3.281931  3.517619  4.685754   Sánchez, Foster      de Gea, Foster
29       3.270305  3.502581  4.681014   Sánchez, Foster      de Gea, Foster
30       3.263066  3.497693  4.683943   Sánchez, Foster      de Gea, Foster


budget              10.0
horizon
1          Mendy, Foster
2          Mendy, Foster
3          Mendy, Foster
4          Mendy, Foster
5          Mendy, Foster
6          Mendy, Foster
7          Mendy, Foster
8          Mendy, Foster
9          Mendy, Foster
10         Mendy, Foster
11       Ederson, Foster
12       Ederson, Foster
13       Ederson, Foster
14       Ederson, Foster
15       Ederson, Foster
16       Ederson, Foster
17       Ederson, Foster
18       Ederson, Foster
19       Ederson, Foster
20       Ederson, Foster
21       Ederson, Foster
22       Ederson, Foster
23       Ederson, Foster
24       Ederson, Foster
25       Ederson, Foster
26       Ederson, Foster
27       Ederson, Foster
28       Ederson, Foster
29       Ederson, Foster
30       Ederson, Foster