In [1]:
import pandas as pd
import sasoptpy as so
import requests
import os
import time

In [2]:
# Data
r = requests.get('https://fantasy.premierleague.com/api/bootstrap-static/')
fpl_data = r.json()

In [3]:
element_data = pd.DataFrame(fpl_data['elements'])

In [4]:
element_data.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text
0,0.0,0.0,37605,0,0,-3,3,0,3,0.0,...,686,278,686,278,NaN,,NaN,,NaN,
1,0.0,0.0,39476,0,0,-2,2,0,2,0.0,...,633,230,652,232,NaN,,NaN,,NaN,
2,100.0,100.0,41270,0,0,-1,1,0,2,1.7,...,219,61,272,90,NaN,,4.0,,NaN,
3,100.0,100.0,54694,0,0,-5,5,2,3,3.3,...,27,15,41,27,NaN,,NaN,,1.0,
4,100.0,100.0,58822,0,0,-4,4,0,2,0.7,...,323,113,332,117,NaN,,5.0,,NaN,

In [5]:
team_data = pd.DataFrame(fpl_data['teams'])
team_data.head()

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,...,None,False,0,1190,1210,1170,1210,1190,1200,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,...,None,False,0,1150,1150,1150,1150,1180,1210,2
2,36,0,None,3,0,Brighton,0,0,0,BHA,...,None,False,0,1120,1100,1150,1180,1090,1100,131
3,90,0,None,4,0,Burnley,0,0,0,BUR,...,None,False,0,1070,1080,1120,1190,1010,1030,43
4,8,0,None,5,0,Chelsea,0,0,0,CHE,...,None,False,0,1250,1300,1240,1280,1270,1310,4

In [6]:
element_data.loc[0].keys()

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text'],
      dtype='object')

In [7]:
element_data.loc[0]['team_code']

3

In [8]:
elements_team = pd.merge(element_data, team_data, left_on='team', right_on='id')
with pd.option_context("display.max_rows", None):
    print(elements_team.loc[0])

chance_of_playing_next_round                                                            0
chance_of_playing_this_round                                                            0
code_x                                                                              37605
cost_change_event                                                                       0
cost_change_event_fall                                                                  0
cost_change_start                                                                      -3
cost_change_start_fall                                                                  3
dreamteam_count                                                                         0
element_type                                                                            3
ep_next                                                                               0.0
ep_this                                                                               0.0
event_points                                                                            0
first_name                                                                          Mesut
form_x                                                                                0.0
id_x                                                                                    1
in_dreamteam                                                                        False
news                                    Not included in Arsenal's 25-man Premier Leagu...
news_added                                                    2020-10-20T22:30:18.118477Z
now_cost                                                                               67
photo                                                                           37605.jpg
points_per_game                                                                       0.0
second_name                                                                          Özil
selected_by_percent                                                                   0.5
special                                                                             False
squad_number                                                                         None
status                                                                                  u
team                                                                                    1
team_code                                                                               3
total_points                                                                            0
transfers_in                                                                         3441
transfers_in_event                                                                      0
transfers_out                                                                       54670
transfers_out_event                                                                    55
value_form                                                                            0.0
value_season                                                                          0.0
web_name                                                                             Özil
minutes                                                                                 0
goals_scored                                                                            0
assists                                                                                 0
clean_sheets                                                                            0
goals_conceded                                                                          0
own_goals                                                                               0
penalties_saved                                                                         0
penalties_missed                                                                        0
yellow_cards                                                                            0
red_cards                                                                               0
saves                                                                                   0
bonus                                                                                   0
bps                                                                                     0
influence                                                                             0.0
creativity                                                                            0.0
threat                                                                                0.0
ict_index                                                                             0.0
influence_rank                                                                        686
influence_rank_type                                                                   278
creativity_rank                                                                       686
creativity_rank_type                                                                  278
threat_rank                                                                           686
threat_rank_type                                                                      278
ict_index_rank                                                                        686
ict_index_rank_type                                                                   278
corners_and_indirect_freekicks_order                                                  NaN
corners_and_indirect_freekicks_text
direct_freekicks_order                                                                NaN
direct_freekicks_text
penalties_order                                                                       NaN
penalties_text
code_y                                                                                  3
draw                                                                                    0
form_y                                                                               None
id_y                                                                                    1
loss                                                                                    0
name                                                                              Arsenal
played                                                                                  0
points                                                                                  0
position                                                                                0
short_name                                                                            ARS
strength                                                                                4
team_division                                                                        None
unavailable                                                                         False
win                                                                                     0
strength_overall_home                                                                1190
strength_overall_away                                                                1210
strength_attack_home                                                                 1170
strength_attack_away                                                                 1210
strength_defence_home                                                                1190
strength_defence_away                                                                1200
pulse_id                                                                                1
Name: 0, dtype: object

In [9]:
review_data = pd.read_csv('../data/fplreview.csv')
review_data.head()

,Pos,Name,BV,SV,Team,30_xMins,30_Pts,31_xMins,31_Pts,32_xMins,32_Pts
0,M,Özil,6.7,6.7,Arsenal,0,0.000,0,0.000,0,0.000
1,D,Sokratis,4.8,4.8,Arsenal,0,0.000,0,0.000,0,0.000
2,D,David Luiz,5.4,5.4,Arsenal,77,2.170,78,3.755,75,3.292
3,M,Aubameyang,11.5,11.5,Arsenal,80,4.136,70,4.884,69,4.502
4,D,Cédric,4.6,4.6,Arsenal,28,0.830,28,1.383,30,1.355

In [10]:
merged_data = pd.merge(elements_team, review_data, left_on=['name', 'web_name'], right_on=['Team', 'Name'])
with pd.option_context("display.max_rows", None):
    print(merged_data[merged_data['web_name'] == 'Salah'].iloc[0])

chance_of_playing_next_round                                    100
chance_of_playing_this_round                                    100
code_x                                                       118748
cost_change_event                                                 0
cost_change_event_fall                                            0
cost_change_start                                                 4
cost_change_start_fall                                           -4
dreamteam_count                                                   4
element_type                                                      3
ep_next                                                         2.3
ep_this                                                         0.0
event_points                                                      0
first_name                                                  Mohamed
form_x                                                          2.3
id_x                                                            254
in_dreamteam                                                   True
news
news_added                              2020-11-13T15:30:16.171973Z
now_cost                                                        124
photo                                                    118748.jpg
points_per_game                                                 6.2
second_name                                                   Salah
selected_by_percent                                            29.0
special                                                       False
squad_number                                                   None
status                                                            a
team                                                             11
team_code                                                        14
total_points                                                    174
transfers_in                                                5084379
transfers_in_event                                            52880
transfers_out                                               5470502
transfers_out_event                                           34544
value_form                                                      0.2
value_season                                                   14.0
web_name                                                      Salah
minutes                                                        2342
goals_scored                                                     17
assists                                                           4
clean_sheets                                                      7
goals_conceded                                                   35
own_goals                                                         0
penalties_saved                                                   0
penalties_missed                                                  0
yellow_cards                                                      0
red_cards                                                         0
saves                                                             0
bonus                                                            16
bps                                                             515
influence                                                     802.2
creativity                                                    597.4
threat                                                       1317.0
ict_index                                                     271.3
influence_rank                                                    6
influence_rank_type                                               3
creativity_rank                                                  22
creativity_rank_type                                             18
threat_rank                                                       1
threat_rank_type                                                  1
ict_index_rank                                                    2
ict_index_rank_type                                               2
corners_and_indirect_freekicks_order                            NaN
corners_and_indirect_freekicks_text
direct_freekicks_order                                            2
direct_freekicks_text
penalties_order                                                   2
penalties_text
code_y                                                           14
draw                                                              0
form_y                                                         None
id_y                                                             11
loss                                                              0
name                                                      Liverpool
played                                                            0
points                                                            0
position                                                          0
short_name                                                      LIV
strength                                                          4
team_division                                                  None
unavailable                                                   False
win                                                               0
strength_overall_home                                          1250
strength_overall_away                                          1270
strength_attack_home                                           1240
strength_attack_away                                           1320
strength_defence_home                                          1330
strength_defence_away                                          1350
pulse_id                                                         10
Pos                                                               M
Name                                                          Salah
BV                                                             12.4
SV                                                             12.3
Team                                                      Liverpool
30_xMins                                                         78
30_Pts                                                        5.292
31_xMins                                                         73
31_Pts                                                        6.255
32_xMins                                                         75
32_Pts                                                        5.943
Name: 339, dtype: object

In [11]:
merged_data.set_index(['id_x'], inplace=True)

In [12]:
next_gw = int(review_data.keys()[5].split('_')[0])
next_gw

30

In [13]:
type_data = pd.DataFrame(fpl_data['element_types']).set_index(['id'])
type_data.head()

,plural_name,plural_name_short,singular_name,singular_name_short,squad_select,squad_min_play,squad_max_play,ui_shirt_specific,sub_positions_locked,element_count
id,,,,,,,,,,
1,Goalkeepers,GKP,Goalkeeper,GKP,2,1,1,True,[12],80
2,Defenders,DEF,Defender,DEF,5,3,5,False,[],239
3,Midfielders,MID,Midfielder,MID,5,2,5,False,[],278
4,Forwards,FWD,Forward,FWD,3,1,3,False,[],89

In [14]:
model = so.Model(name='single_period')

NOTE: Initialized model single_period.

In [15]:
players = merged_data.index.to_list()
element_types = type_data.index.to_list()
teams = team_data['name'].to_list()

In [16]:
squad = model.add_variables(players, name='squad', vartype=so.binary)
lineup = model.add_variables(players, name='lineup', vartype=so.binary)
captain = model.add_variables(players, name='captain', vartype=so.binary)
vicecap = model.add_variables(players, name='vicecap', vartype=so.binary)

In [17]:
squad_count = so.expr_sum(squad[p] for p in players)

In [18]:
model.add_constraint(squad_count == 15, name='squad_count');

In [19]:
model.add_constraint(so.expr_sum(lineup[p] for p in players) == 11, name='lineup_count');

In [20]:
model.add_constraint(so.expr_sum(captain[p] for p in players) == 1, name='captain_count')
model.add_constraint(so.expr_sum(vicecap[p] for p in players) == 1, name='vicecap_count');

In [21]:
model.add_constraints((lineup[p] <= squad[p] for p in players), name='lineup_squad_rel')
model.add_constraints((captain[p] <= lineup[p] for p in players), name='captain_lineup_rel')
model.add_constraints((vicecap[p] <= lineup[p] for p in players), name='vicecap_lineup_rel')
model.add_constraints((captain[p] + vicecap[p] <= 1 for p in players), name='cap_vc_rel');

In [22]:
lineup_type_count = {t: so.expr_sum(lineup[p] for p in players if merged_data.loc[p, 'element_type'] == t) for t in element_types}

In [23]:
squad_type_count = {t: so.expr_sum(squad[p] for p in players if merged_data.loc[p, 'element_type'] == t) for t in element_types}

In [24]:
model.add_constraints((lineup_type_count[t] == [type_data.loc[t, 'squad_min_play'], type_data.loc[t, 'squad_max_play']] for t in element_types), name='valid_formation');

In [25]:
model.add_constraints((squad_type_count[t] == type_data.loc[t, 'squad_select'] for t in element_types), name='valid_squad');

In [26]:
budget=100
price = so.expr_sum(merged_data.loc[p, 'now_cost'] / 10 * squad[p] for p in players)

In [27]:
model.add_constraint(price <= budget, name='budget_limit');

In [28]:
model.add_constraints((so.expr_sum(squad[p] for p in players if merged_data.loc[p, 'name'] == t) <= 3 for t in teams), name='team_limit');

In [29]:
total_points = so.expr_sum(merged_data.loc[p, f'{next_gw}_Pts'] * (lineup[p] + captain[p] + 0.1 * vicecap[p]) for p in players)

In [30]:
model.set_objective(-total_points, sense='N', name='total_xp');

In [31]:
model.export_mps('single_period.mps')

In [32]:
command = 'cbc single_period.mps solve solu solution_sp.txt'
!{command}

Welcome to the CBC MILP Solver
Version: devel
Build Date: Nov 25 2020

command line - cbc single_period.mps solve solu solution_sp.txt (default strategy 1)
At line 1 NAME     single_period
At line 2 ROWS
At line 2705 COLUMNS
At line 9376 RHS
At line 9727 RANGES
At line 9731 BOUNDS
At line 12400 ENDATA
Problem single_period has 2701 rows, 2668 columns and 10672 elements
Coin0008I single_period read with 0 errors
Continuous objective value is -62.8741 - 0.02 seconds
Cgl0003I 0 fixed, 0 tightened bounds, 2001 strengthened rows, 0 substitutions
Cgl0004I processed model has 2032 rows, 2668 columns (2668 integer (2668 of which binary)) and 10666 elements
Coin3009W Conflict graph built in 0.009 seconds, density: 3.186%
Cgl0015I Clique Strengthening extended 0 cliques, 0 were dominated
Cbc0038I Initial state - 2 integers unsatisfied sum - 0.266667
Cbc0038I Solution found of -62.8741
Cbc0038I Before mini branch and bound, 2666 integers at bound fixed and 0 continuous
Cbc0038I Mini branch and bound did not improve solution (0.21 seconds)
Cbc0038I After 0.21 seconds - Feasibility pump exiting with objective of -62.8741 - took 0.01 seconds
Cbc0012I Integer solution of -62.8741 found by feasibility pump after 0 iterations and 0 nodes (0.21 seconds)
Cbc0001I Search completed - best objective -62.8741, took 0 iterations and 0 nodes (0.22 seconds)
Cbc0035I Maximum depth 0, 0 variables fixed on reduced cost
Cuts at root node changed objective from -62.8741 to -62.8741
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
OddWheel was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                -62.87410000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.23
Time (Wallclock seconds):       0.23

Total time (CPU seconds):       0.27   (Wallclock seconds):       0.27

In [33]:
for v in model.get_variables():
    v.set_value(0)

In [34]:
with open('solution_sp.txt', 'r') as f:
    for line in f:
        if 'objective value' in line:
            continue
        words = line.split()
        var = model.get_variable(words[1])
        var.set_value(float(words[2]))

In [35]:
picks = []
for p in players:
    if squad[p].get_value() > 0.5:
        lp = merged_data.loc[p]
        is_captain = 1 if captain[p].get_value() > 0.5 else 0
        is_lineup = 1 if lineup[p].get_value() > 0.5 else 0
        is_vice = 1 if vicecap[p].get_value() > 0.5 else 0
        position = type_data.loc[lp['element_type'], 'singular_name_short']
        picks.append([
            lp['web_name'], position, lp['element_type'], lp['name'], lp['now_cost']/10, round(lp[f'{next_gw}_Pts'], 2), is_lineup, is_captain, is_vice
        ])

picks_df = pd.DataFrame(picks, columns=['name', 'pos', 'type', 'team', 'price', 'xP', 'lineup', 'captain', 'vicecaptain']).sort_values(by=['lineup', 'type', 'xP'], ascending=[False, True, True])

In [36]:
picks_df

         name  pos  type       team  price    xP  lineup  captain  vicecaptain
6       Mendy  GKP     1    Chelsea    5.2  4.76       1        0            0
7       Digne  DEF     2    Everton    6.2  4.52       1        0            0
8      Dallas  DEF     2      Leeds    5.1  4.52       1        0            0
12       Shaw  DEF     2    Man Utd    5.2  4.96       1        0            0
5       James  DEF     2    Chelsea    5.0  5.04       1        0            0
10   Raphinha  MID     3      Leeds    5.7  4.76       1        0            0
11      Salah  MID     3  Liverpool   12.4  5.29       1        0            0
13  Fernandes  MID     3    Man Utd   11.5  5.42       1        0            0
4       Mount  MID     3    Chelsea    7.0  5.65       1        0            1
9     Bamford  FWD     4      Leeds    6.7  4.52       1        0            0
14       Kane  FWD     4      Spurs   11.6  6.44       1        1            0
1      Steele  GKP     1   Brighton    3.9  0.00       0        0            0
3   Tarkowski  DEF     2    Burnley    5.3  2.81       0        0            0
2    Stephens  MID     3    Burnley    4.2  0.10       0        0            0
0      Murray  FWD     4   Brighton    4.8  0.00       0        0            0

In [37]:
total_xp = so.expr_sum((lineup[p] + captain[p]) * merged_data.loc[p, f'{next_gw}_Pts'] for p in players).get_value()
total_xp

62.309

In [38]:
price.get_value()

99.80000000000001